#title {
    height: 100px;
    width: 100%;
}

#area {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

#text-area {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 50%;
}

#tag-area {
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

#delete-button {
    background-color: rgba(255, 255, 255, 0.5);
    border: dashed;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 5px;
    width: 17px;
    height: 20px;
    padding :0%
  } 

  #doubt-button {
    background-color: transparent;
    border: dashed;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 5px;
    width: 17px;
    height: 20px;
    padding :0%
  } 
